body {
    background-color: #2b3e6e;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Header style */
header {
    background-color: #2b3e6e; 
    padding: 0; 
    margin: 0;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fffbf4; 
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between; 
}

.container-header {
    width: 100%;
    height: auto;
    margin: 5px 15px; 
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;
    
}

.logo-text {
    font-size: 16px;
    font-weight: 100;

}
.nav-links {
    display: flex;
    position: relative;
    gap: 80px; 
    font-size: 14px;
    font-weight: normal; 
    list-style: none;
    color: #fffbf4;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    
}

.nav-links li a {
   color: #fffbf4;
    text-decoration: none;
}
  

/* Hero Section */

.hero {
    margin: 0;
    width: 100%;
    max-height: 90vh;
    display: flex; 
    position: relative;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    text-align: center;
    justify-content: center;
    
}

.hero-content img {
    width: 20%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

.hero-content h1 {
    font-size: 4rem;
    color: #fffbf4;
    margin: 0;
    font-family: "Instrument Serif", serif;
    font-weight: 300;
    position: relative;
    
    
}

.hero-content h2 {
    font-family: "Instrument Serif", serif;
    font-weight: 300;
    font-size: 3.5rem;
    position: relative;
    padding-top: 25px;
    color: #fffbf4;
    
    width: 30%;
    line-height: 1.1;

    
}
